/EWARM/STM32F746G_DISCO
build
/TouchGFX/simulator/msvs/.vs/Application/v16/ipch/AutoPCH/2fae1015211d10a/SCREEN1VIEW.ipch
/TouchGFX/simulator/msvs/.vs/Application/v16/ipch/AutoPCH/d04e8b56ceb8fd5f/MODELLISTENER.ipch
/TouchGFX/build
