{
  "image_configuration": {
    "images": {
      "__designer\\Blue_Buttons_Round_Edge_small.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_Buttons_Round_Edge_small_pressed.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_Textures_irongrip.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      }
    },
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}